<mat-toolbar color="primary">
  <span>Crud Angular + Spring</span>
</mat-toolbar>
<!-- <mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field> -->
<!-- <div style="width: 30%;">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Mostrar opcões</mat-panel-title>
        <mat-panel-description> Apenas usuario atendidos </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{mensagem}}</p>
      <p>Felipe Gomes</p>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
<router-outlet></router-outlet>

